@import "tailwindcss";

/* Custom styles can be added here */

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-myanmar: "Noto Sans Myanmar", "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-gray-100;
  }
}

.myanmar-text {
  font-family: var(--font-myanmar);
  line-height: 1.8 !important;
}
